@font-face {
    font-family: 'minecrafter';
    /* Name your font family */
    src: url('fonts/Minecrafter.Reg.ttf');
    /* Locate the .ttf file within your directory*/
}

@font-face {
    font-family: 'minecraftNormal';
    /* Name your font family */
    src: url('fonts/MinecraftRegular-Bmg3.otf');
    /* Locate the .ttf file within your directory*/
}

body {
    background-color: #003a36;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'minecraftNormal', 'sans-serif';
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;

}

body::-webkit-scrollbar {
    /* Safari and Chrome */
    width: 4px;
    background: rgb(129, 54, 0)
}

body::-webkit-scrollbar-thumb {
    border-radius: 300px;
    background: #199400;
}

svg {
    transition: 0.2s;
}

svg:hover {
    scale: 1.2;
    color: #48b500ed;
    cursor: pointer;
}


.textMain {
    font-size: 75px;
    font-family: 'minecrafter', 'sans-serif';
    color: #3b9500ed;
}

.colorBrown {
    font-size: 75px;
    font-family: 'minecrafter', 'sans-serif';
    color: #954100ed;
}

.progress {
    position: relative;
    top: 0;
    height: 5px;
    color: white;
    background-color: #151515e5;

}

.progress-bar {
    background-color: #3b9500ed;
}

.music-name {
    display: block;
    font-size: 25px;
}

.music-by {
    display: block;
    font-size: 13px;

}

.music-nameInline {
    display: block;
    font-size: 22px;
}

.music-byInline {
    display: block;
    font-size: 15px;
}


.nowPlaying {
    position: fixed;
    bottom: -1px;
    width: 100%;
    background-color: #151515e5;
    color: #3b9500ed;
    animation: fade-in-bottom 1s ease 0s 1 forwards;
    z-index: 1;
}

@keyframes fade-in-bottom {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.musicCard {
    background-color: #00734b;
    color: #000000ed;
    scroll-margin: 40vh;
}

.musicCardImg {
    vertical-align: middle;
    aspect-ratio: 1/1;
    width: 65%;
    height: 65%;
}

.musicCard-name {
    font-size: 25px;
}

.musicCard-by {
    font-size: 15px;
}

.musciCardPlay {
    background-color: #008d3fed;
    transition: 0.2s;
    font-size: 20px;
}

.musciCardPlay:hover {
    cursor: pointer;
    scale: 1.05;
}

.playing {
    background-color: #008d3f00;
    opacity: 70%;
}


.playingParent {
    opacity: 70%;
    scale: 0.95;
}

.looping {
    scale: 1.2;
    color: #00d647ed;
}

.queueSeprator {
    background-color: #00938c;
    width: 85%;
    height: 4px;
}

.queueTitle {
    font-size: 45px;
    font-family: 'minecrafter', 'sans-serif';
    color: #3b9500ed;
}

.queueAdd {
    background-color: #008d3fed;
    transition: 0.2s;
    /* transition-duration: 2s; */
}

.queueAdd:hover {
    scale: 1.1;
    cursor: pointer;
}



.animateButtonPress {
    animation: buttonPress 0.3s ease 0s 1 forwards;
}

@keyframes buttonPress {
    0% {
        scale: 1;
    }

    40% {
        scale: 0.7;
    }

    80% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

.queueNumber {
    background-color: #008d3fed;
}

.queuePretext {
    color: #44a900f9;
    font-size: 20px;
}

.addSongsToQueueBar {
    position: fixed;
    top: -1px;
    width: 100%;
    background-color: #151515d7;
    color: #44a900f9;
    animation: fade-in-top 0.5s ease 0s 1 forwards;
    z-index: 1;
    font-size: 25px;
    backdrop-filter: blur(5);
    -webkit-backdrop-filter: blur(2px)
}

@keyframes fade-in-top {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


.queueAddPopUp {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
    width: 90%;
    height: fit-content;
    min-height: 80%;
    max-height: 85%;
    overflow-y: auto;
    background-color: #000000d5;
    z-index: 1;
    font-size: 25px;
    animation: scale-0-1 0.3s linear 0s 1 forwards;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    outline: 5px solid #000000;
}

@keyframes scale-0-1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.queueAddPopUp::-webkit-scrollbar {
    /* Safari and Chrome */
    width: 4px;
    background: rgb(129, 54, 0)
}

.queueAddPopUp::-webkit-scrollbar-thumb {
    border-radius: 300px;
    background: #199400;
}

.queueCard-name {
    font-size: 20px;

}

.queueAddedText {
    color: #199400;
}

.blur{
    filter: blur(3px);
    -webkit-filter: blur(3px);
}


@media only screen and (min-width:1400px) {

    .queueCard-name {
        font-size: 17px;

    }

}

@media only screen and (min-width:992px) {

    .queueSeprator {
        width: 80%;
    }

}

@media only screen and (max-width:992px) {
    .musicCardImg {
        width: 50%;
    }

    .musicCard-name {
        font-size: 25px;
    }

    .musicCard-by {
        font-size: 13px;
    }

    .textMain {
        font-size: 55px;
    }

}


@media only screen and (max-width:768px) {
    .musicCardImg {
        width: 50%;
    }


    .textMain {
        font-size: 45px;
    }

    .queueSeprator {
        width: 90%;
    }
}



@media only screen and (max-width:576px) {
    .musicCardImg {
        width: 20%;
    }

    .musicCard-name {
        font-size: 23px;
    }

    .musicCard-by {
        font-size: 15px;
    }

    .musciCardPlay {
        font-size: clamp(15px,6vw,21px);
    }

    .textMain {
        font-size: 55px;
    }

    .queueSeprator {
        width: 95%;
    }
}

@media only screen and (max-width:400px) {
    .musicCardImg {
        width: 20%;
    }

    .musicCard-name {
        font-size: 20px;
    }

    .musicCard-by {
        font-size: 13px;
    }

    .textMain {
        font-size: 50px;
    }

    .queueAddedText {
        font-size: 20px;

    }
}

