@font-face {
    font-family: 'minecrafter';
    /* Name your font family */
    src: url('Minecrafter.Reg.ttf');
    /* Locate the .ttf file within your directory*/
}

@font-face {
    font-family: 'minecraftNormal';
    /* Name your font family */
    src: url('MinecraftRegular-Bmg3.otf');
    /* Locate the .ttf file within your directory*/
}

body {
    background-color: #003a36;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'minecraftNormal', 'sans-serif';
    vertical-align: middle;
}

svg {
    transition: 0.2s;
}

svg:hover {
    scale: 1.2;
    color: #2f7500ed;
    cursor: pointer;
}


.textMain {
    font-size: 75px;
    font-family: 'minecrafter', 'sans-serif';
    color: #3b9500ed;
}

.colorBrown {
    font-size: 75px;
    font-family: 'minecrafter', 'sans-serif';
    color: #954100ed;
}

.progress {
    position: relative;
    top: 0;
    height: 5px;
    color: white;
    background-color: rgb(0, 0, 0);
}

.progress-bar {
    background-color: #3b9500ed;
}

.music-name {
    display: block;
    font-size: 25px;
}

.music-by {
    display: block;
    font-size: 13px;

}

.nowPlaying {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #3b9500ed;
}

.musicCard {
    background-color: #00734b;
    color: #000000ed;
}

.musicCardImg {
    vertical-align: middle;
    aspect-ratio: 1/1;
    width: 65%;
}

.musicCard-name {
    font-size: 35px;
}

.musicCard-by {
    font-size: 15px;
}

.musciCardPlay {
    background-color: #008d3fed;
    transition: 0.2s;
}

.musciCardPlay:hover {
    cursor: pointer;
    scale: 1.05;
}