@font-face {
    font-family: 'minecrafter';
    /* Name your font family */
    src: url('Minecrafter.Reg.ttf');
    /* Locate the .ttf file within your directory*/
}

@font-face {
    font-family: 'minecraftNormal';
    /* Name your font family */
    src: url('MinecraftRegular-Bmg3.otf');
    /* Locate the .ttf file within your directory*/
}

body {
    background-color: #003a36;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'minecraftNormal', 'sans-serif';
    vertical-align: middle;
    user-select: none;
    -webkit-user-select: none;
}

body::-webkit-scrollbar {
    /* Safari and Chrome */
    width: 4px;
    /* Remove scrollbar space */
    background: rgb(129, 54, 0)
        /* Optional: just make scrollbar invisible */
}

body::-webkit-scrollbar-thumb {
    border-radius: 300px;
    background: #199400;
}

svg {
    transition: 0.2s;
}

svg:hover {
    scale: 1.2;
    color: #2f7500ed;
    cursor: pointer;
}


.textMain {
    font-size: 75px;
    font-family: 'minecrafter', 'sans-serif';
    color: #3b9500ed;
}

.colorBrown {
    font-size: 75px;
    font-family: 'minecrafter', 'sans-serif';
    color: #954100ed;
}

.progress {
    position: relative;
    top: 0;
    height: 5px;
    color: white;
    background-color: #151515e5;

}

.progress-bar {
    background-color: #3b9500ed;
}

.music-name {
    display: block;
    font-size: 25px;
}

.music-by {
    display: block;
    font-size: 13px;

}

.nowPlaying {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #151515e5;
    color: #3b9500ed;
    animation: fade-in 1s ease 0s 1 forwards;

}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.musicCard {
    background-color: #00734b;
    color: #000000ed;
}

.musicCardImg {
    vertical-align: middle;
    aspect-ratio: 1/1;
    width: 65%;
}

.musicCard-name {
    font-size: 25px;
}

.musicCard-by {
    font-size: 15px;
}

.musciCardPlay {
    background-color: #008d3fed;
    transition: 0.2s;
    user-select: none;
    -webkit-user-select: none;
}

.musciCardPlay:hover {
    cursor: pointer;
    scale: 1.05;
}

.playing {
    background-color: #008d3f00;
    opacity: 70%;
}


.playingParent {
    opacity: 70%;
    scale: 0.95;
}